ansible
coloredlogs
flake8
gitpython
Jinja2
keystoneauth1
mock
munch
pathlib2
pytest
python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-neutronclient
python-novaclient
python-octaviaclient
python-openstackclient
python-swiftclient
pyyaml
kubernetes
python-gitlab
jmespath
ansible-gendoc
